<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Cards | By Code Info</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      .container {
        display: flex;
        width: 50vw;
      }
      .card {
        width: 32%;
        height: auto;
        margin-right: 1%;
        background: white;
        border-radius: 10px;
        transition: 0.9;
      }
      img {
        width: 100%;
        border-radius: 100%;
      }

      h3{
        text-align: center;
      }


    </style>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" />
        <h3>Invesment</h3>
      </div>
    </div>
  </body>
</html>
