@import "../../../styles/base.scss";

// ----------- Progress ------------
.progress_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.prog_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
}

.prog_main {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: $bg-disabled;
    color: white;
    transition: all 150ms ease-in-out;
}

.prog_main.prog_active {

    background-color: $primary;
}

.prog_title {
    color: $text-color-secondary;
    text-align: center;
}

.prog_title_disabled {
    // opacity: 0;
}

.connector {
    position: relative;
    width: 15rem;
}

.prog_body span {
    width: 51%;
    height: 3px;
    position: absolute;
    top: 2.5rem;
    transition: all 150ms ease-in-out;
}

.connector_1 {
    left: 0;
}

.connector_2 {
    right: 0;
}

.connector_active {
    background-color: $primary;
}

.connector_inactive {
    background-color: $bg-disabled;
}



//----------Registration------------
.reg_container {}

.reg_head {
    margin: 5rem 0;
}

.reg_title {
    margin-bottom: 0;
    text-align: center;
    font-size: 2.5rem;
}

.reg_subtitle {
    text-align: center;
    // font-size: 20px;
}

.form_container {
    margin: auto;
    width: 80rem;
    padding: 3rem 5%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form_row {
    display: flex;
    gap: 10%;
}

.form_grp {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1.5rem;
}

.form_grp input[type="file"] {
    border: 1px solid rgb(78, 78, 78);
    display: flex;
    align-items: right;
    justify-content: right;
}

.upload_icon {
    font-size: 1.4rem;
    position: absolute;
    top: 0.9rem;
    right: 1rem;
}

.form_grp input[type="file"]::-webkit-file-upload-button {
    display: none;
}

.form_grp input,
.form_grp select,
.form_grp textarea {
    height: 3rem;
    padding-left: .5rem;
    padding: 1rem .5rem;
    font-size: 1rem;
}

.form_grp label {
    position: absolute;
    top: 0.9rem;
    left: 1.4rem;
    transition: 250ms;
    background: #fff;
}

.form_grp input:focus+label,
.form_grp input:not(:placeholder-shown)+label{
    top: -.7rem;
    left: .8rem;
}

.select + label{
    top: -.7rem;
    left: .8rem;
}


.btn {
    display: flex;
    width: 9rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}


.btn_success {
    color: $white;
    background: $primary;
}

.btn_success:hover {
    background: $primary-hover;
}

.select{
    padding: 0!important;
    padding-left: .5rem!important;
    margin: 0;
}