@import "../../../styles/base.css";
 .container {
	 height: 100%;
	 width: 100%;
}
 .card {
	 height: 100%;
	 background: white;
	 border-radius: 10px;
	 transition: 0.9;
}
 .card img {
	 border: 3px solid var(--primary);
	 width: 100%;
	 height: 100%;
	 border-radius: 100%;
}
 .card h3 {
	 text-align: center;
}
 