@import "../../styles/base.scss";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);

.appContainer {
  position: relative;
  min-height: 100vh;
  padding-bottom: 20px;

  footer {
    position: fixed;
    bottom: 0px;

    width: 100%;
    padding: 5px;

    background-color: $neutral;
    text-align: center;
  }
}
.headerContainer {
  height: 120px;
}

.container {
  border-bottom: .1px solid rgba(187, 187, 187, 0.342);
  // width: 100vw;
  // height: 40px;

  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
      background-color: $light-yellow;
      // width: 120px;
      // height: 40px;
      padding: 5px 20px;
      margin: 5px;
      border-radius: 5px;
    }
    .row {
      display: flex;
      // padding: 5px;

      .phone {
        display: flex;
        justify-content: center;
        border-right: solid;
        padding-right: 10px;

        img {
          width: 15px;
          margin: 2px 10px;
        }
      }

      .mail {
        display: flex;
        justify-content: center;

        img {
          width: 15px;
          margin: 2px 10px;
        }
      }
    }
  }
}

.container_main {
  // width: 100vw;
  // height: 20vh;
  // border: solid;
  // border-bottom: 2px solid $bg-light;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding: 10px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 120px;
      // margin: 15px 0px 0px 00px;
    }

    .nav {
      display: flex;
      // width: 100%;
      justify-content: space-around;

      .list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // margin-right: 10%;
        width: 100%;

        li {
          list-style: none;
          margin: 5px;
        }

        .active {
          text-decoration: underline;
        }
      }
      .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: auto 10px;

        .profileImg {
          height: 50px;
          width: 50px;
          border-radius: 100%;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.conatiner_popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  &::before {
    content: "";
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;

    background-color: black;
    opacity: 0.8;
  }
}
.container_main_popup {
  position: relative;
}
.container_main_popup .btn_main {
  background-color: $neutral;
  position: absolute;
  right: -5px;
  top: -5px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 5px;
  width: 5px;

  z-index: 2;
  border-radius: 50%;
  // color: ffffff;
  padding: 15px;
  border: none;
}
// @import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);
// /* @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css); */
figure.snip0045 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 410px;
  max-width: 560px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}
figure.snip0045 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0045 > img {
  width: 50%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  position: relative;
  left: -15%;
  z-index: 1;

  min-height: 200px;
}
figure.snip0045 figcaption {
  padding: 20px;
  position: absolute;
  right: 0;
  width: 50%;
}
figure.snip0045 figcaption h2,
figure.snip0045 figcaption p {
  margin: 0;
  text-align: right;
  padding: 10px 0;
  width: 100%;
}
figure.snip0045 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0045 figcaption h2 span {
  font-weight: 800;
}
figure.snip0045 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0045 figcaption .icons {
  width: 100%;
  text-align: right;
}
figure.snip0045 figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
}
figure.snip0045 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0045 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0045 .position {
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  // background: #000000;
  background: #1e8449;
}
figure.snip0045.blue .position {
  background: #20638f;
}
figure.snip0045.red .position {
  background: #962d22;
}
figure.snip0045.yellow .position {
  background: #bf6516;
}
figure.snip0045.green .position {
  background: #1e8449;
}
figure.snip0045:hover > img,
figure.snip0045.hover > img {
  left: -12%;
}

// ----------------new---------------------

.updateStatus {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 12px;
  }

  button {
    background-color: $primary;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
  }
}

.form_grp {
  //  width: 0%; 
  display: flex;
  gap: 1rem;
  position: relative;
  margin-top: 1.5rem;
  justify-content: flex-start;
}

.form_grp input {
  height: 2rem;
  padding-left: 0.5rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(121, 121, 121);
}

.form_grp label {
  position: absolute;
  top: 0.9rem;
  left: 1.4rem;
  transition: 250ms;
  background: #fff;
}

.form_grp input:focus + label,
.form_grp input:not(:placeholder-shown) + label {
  top: -0.7rem;
  left: 0.8rem;
}

.select + label {
  top: -0.7rem;
  left: 0.8rem;
}

.btn_red{
  padding: 5px;
  background-color: red;
  color: white;
  border: none;
  margin: 5px;
  border-radius: 5px;
}
.btn_green{
  padding: 5px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  // margin: 5px;
}
.btn_update{
  padding: 5px;
  background-color: orange;
  color: black;
  border: none;
  border-radius: 5px;
  // margin: 5px;
}