@import "../../../styles/base.scss";

.container {
  display: flex;
  // width: 55vw;
  // height: 35vh;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  border-radius: 10px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 150ms linear;
  // width: 100rem;
  // height: 15rem;
  padding: 20px 10px;
  width: 70vw;

  &:hover {
    transform: translateY(-1px);
  }
}

.card {
  // width: 18rem;
  // height: 12rem;
  margin-right: 1%;
  padding: 20px 0px 20px 20px;
  transition: 0.9;
  .card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
    cursor: pointer;
  }
  width: 150px;

  img {
    // width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }

  h3,
  p {
    font-size: 15px;
    padding: 0px 0px;

    margin: 12px;
    color: rgb(104, 92, 92);
  }
}

.cardcenter {
  /* padding: 25px 0px 0px 0px; */
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.center {
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid $text-color-secondary;
  padding-right: 15rem;
  width: 100%;
}

.card .list {
  display: flex;
}

.card .list li {
  list-style: none;
  margin: 10px;
}

.btnClass {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  // p {
  //   margin: 10px;
  // }
}

.btnMain {
  padding: 15px;

  p {
    text-align: center;
  }

  span {
    font-size: 14px;
    color: $neutral;
  }
}

.btn {
  display: flex;
  padding: 10px 12px;
  border: 1px solid;
  /* margin: 55px 0px 0px 5px; */
  border-radius: 5px;
  box-sizing: border-card;
  background-color: rgb(114, 239, 114);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;

  margin-bottom: 10px;
}

// @media all and (max-width: 30em) {
//   .btn {
//     display: block;
//     margin: 0.4em auto;
//   }
// }

// @media (max-width: 800px) {
//   .container {
//     width: 100%;
//   }
// }

// @media (max-width: 600px) {
//   .container {
//     width: 85%;
//     display: block;
//   }

//   .card {
//     width: 100%;
//     margin-bottom: 4%;
//   }
// }
