@import "../../../styles/base.css";
 .card {
	 width: 300px;
	 height: auto;
	 border: 1px solid #ccc;
	 margin: 10px;
	 color: #000;
	 border-radius: 10px;
	 transition: 0.9;
	 background-color: "$light-yellow";
}
 .card img {
	 width: 100%;
	 border-top-left-radius: 10px;
	 border-top-right-radius: 10px;
}
 .card strong, .card h3, .card p {
	 font-size: 20px;
	 padding: 0px 0px;
	 margin: 12px;
	 color: #262626;
}
 .card p {
	 color: "$green";
	 font-size: 16px;
}
 .card:hover {
	 box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
	 cursor: pointer;
}
 .card .list {
	 display: flex;
}
 .card .list li {
	 list-style: none;
	 margin: 10px;
}
 .btn {
	 display: flex;
	 padding: 10px 12px;
	 border: 1px solid;
	 margin: 12px;
	 border-radius: 5px;
	 box-sizing: border-card;
	 background-color: #72ef72;
	 text-align: center;
	 transition: all 0.2s;
}
 .row {
	 display: flex;
	/* justify-content: center;
	 */
	 align-items: center;
	 justify-content: space-between;
}
 .img {
	 margin-left: 50%;
}
 .row img {
	 width: 60%;
}
 