
.aboutsection {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }


.row{
 display: flex;
}

.heading{
    margin-left: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-top: 100px;
    padding-left: 200px;
    
    
}


.para{
    margin-left: 50px;
    margin-right: 100px;
    font-size: 18px;
   
}

.left{
    margin: 100px;
}

.R1{
    margin-left: 150px;
    margin-top: 100px;
}

.R2{
    margin-left: 200px;
}

.image{
    border-radius: 10px;
}

.para2{
    margin-left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline;
    color: red;
}

.followWidget {
    text-align: center;
    width: 90%;
    margin:  auto;
    display: table;
    border: 1px solid #ddd;
    padding: 10px 10px 20px;
    border-radius: 10px;
}
.followWidget h2 {
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 25px;
    font-size: 26px;
    letter-spacing: 1px;
}
.followWidget ul{
    padding: 0px;
    margin: 0px;
}
.followWidget li {
    float: left;
    list-style: none;
    font-size: 20px;
    text-align: center;
    margin: 10px 0px 10px;
    width: 16.666%;
}
.followWidget li a i {
    background-color: #f1f1f1;
    /* color: #fff; */
    border-radius: 100%;
    height: 40px;
    width: 40px;
    line-height: 43px !important;
}
.followWidget li a i:hover{
    opacity: 0.8;
}
.followWidget li a i.fa.fa-facebook {
    background-color: #3b5997;
}
.followWidget li a i.fa.fa-twitter {
    background-color: #57aced;
}
.followWidget li a i.fa.fa-pinterest-p {
    background-color: #cb2026;
}
.followWidget li a i.fa.fa-instagram {
    background-color: #3e729a;
}
.followWidget li a i.fa.fa-google-plus {
    background-color: #db4d41;
}
.followWidget li a i.fa.fa-youtube-play {
    background-color: #c42f2b;
}


