@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./base.scss";
@import "../components/Auth/Auth.module.scss";
@import "../components/common/common.module.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 1.5rem;
}
.mt-4 {
  margin-top: 2rem;
}

.bg_danger {
  background-color: rgb(221, 20, 20);
  transition: all 120ms ease-in-out;

  &:hover {
    background-color: rgb(238, 13, 13);
  }
}

.text-danger {
  color: $text-color-error;
}
.row {
  display: flex;
  flex-wrap: wrap;
  // gap: 15px;
  justify-content: flex-start;
  margin: 15px;
  // align-items: center;
  // border: solid;
}

.cargiverrow {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.Infobox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
// popup navbar
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: 0.64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #fff;
  transform: rotate(32deg);
  transition: 0.64s ease-in-out;
}
.popupphoto {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.popupphoto img {
  width: auto;
  height: 100%;
}
.popuptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}
.popuptext h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0a0a0a;
}
.popuptext p {
  font-size: 0.875rem;
  color: #686868;
  line-height: 1.5;
}

.popuptext a {
  text-decoration: none;
  color: #47bdff;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.closepopup {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #47bdff;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

// admin
.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.gray-container {
  border: 0.5px solid rgb(190, 190, 190);
  padding: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: 10px;
  height: 60vh;
  overflow-y: scroll;
}

.partner-card-holder {
  position: relative;
}
.selector-button-overlay {
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
}

.selector-button-overlay:focus {
  outline: 5px solid #5cc6ad;
  opacity: 0.3;
  border-radius: 10px;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

//---------Modal----------
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: #00000045 !important;
}

.ReactModal__Content.ReactModal__Content--after-open {
  width: 80%;
  height: 90%;
  margin: auto;
  padding: 0 !important;
  border-radius: 10px !important;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.247);
  height: 10%;
  padding: 0 2rem;
}

.modal-header h3 {
  font-weight: normal;
  padding: 0 !important;
  margin: 0 !important;
}

.modal-close-icon {
  font-size: 1.5rem;
}

.modal-body {
  height: 80%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body .gray-container {
  height: 90%;
}

.modal-footer {
  height: 10%;
  padding: 0 2rem;
  border-top: 0.5px solid rgba(128, 128, 128, 0.247);
  display: flex;
  justify-content: flex-start !important;
  align-items: center !important;
}

.noDataFound {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  margin: 20px;
}

.dashboard {
  padding: 20px;

  h1 {
    margin: 20px;
  }

  .selectedMeals {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 50px;
  }

  .riders {
    div {
      height: 150px;
      width: 150px;
    }
  }

  .orderHistory {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
    gap: 20px;
  }

  .availableMeals {
    display: flex;
    gap: 20px;
  }

  .availableMeals,
  .riders,
  .selectedMeals {
    margin: 20px 50px;
    margin-bottom: 60px;
  }
}

// ----------Member Dashboard----------
.weekSchedule-container {
  display: flex;
  gap: 1.5rem;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 50px;
}

.justify-center {
  justify-content: center;
  margin-bottom: 60px;
}

// ----------------notvarifed---------

.notvarifed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;

  .main {
    text-align: center;
  }
}

// contact
 
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}



input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 20px 100px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}





//==========  HOMEPAGE   ==================
.home-main{
  margin-top: -5px;
  margin-bottom: 2rem;
}


.hero-container{
  width: 100%;
  height: 50rem;
  display: flex;
}

.hero-left{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10rem;
  padding-right: 40rem;
  gap: 1.5rem;
}

.hero-left h1{
  font-size: 5rem;
  margin: 0;
  line-height: 4.9rem;
}
.hero-left p{
  margin: 0;
  font-size: 1.1rem;
  color: gray;
}
.hero-left a{
  margin: 0;
}

.hero-right{
  width: 25%;
  position: relative;
  background-color: $light-yellow;
  // transform: skew(-5deg, -2deg);
}
.hero-right svg{
  transform: rotate(-90deg);
  position: absolute;
  // top: 17rem;
  // left: -40rem;
  top: 24.43rem;
  left: -33rem;
  // width: 190%;
  // height: 100%;
  
  fill: $light-yellow!important;
}
.hero-right img{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 40rem;
  left: -25rem;
  border-radius: 100%;
  // background: #7ed0db;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}


.spec-section{
  height: 35rem;
  position: relative;
}
.spec-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.spec{
  display: flex;
  width: 14rem;
  height: 4rem;
  background-color: #dcdcdc5b;
  border-radius: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
  position: relative;
  color: #313131;
  // box-shadow: rgba(117, 255, 214, 0.2) 0px 18px 50px -10px;
}
.spec img{
  position: absolute;
}
.fishImg{
  width: 10rem;
  left: -3.5rem;
}

.strawberryImg{
  width: 14rem;
  left: -4rem;
}

.leavesImg{
  width: 6rem;
  left: -1rem;
  transform: rotate(30deg);
}


.why-container{
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
}

.why-left{
  width: 40%;
  height: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-left img{
  width: 30rem;
}
.why-right{
  width: 60%;
  height: 100%;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.why-right h2{
  font-size: 3rem;
}
.why-right p{
  color: rgb(63, 63, 63);
  font-size: 1.1rem;
}

.why-right a{
  margin: 0;
}


.contact-container{
  height: 20rem;
  width: 100%;
  margin-top: 10rem;
  background-color: $light-yellow;
  display: flex;
}

.contact-left{
  width: 70%;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-left h2{
  text-transform: uppercase;
  font-size: 1.2rem;
}

.contact-left p{
  color: rgb(71, 67, 0);
  font-size: 2.5rem;
}

.contact-right{
  width: 20%;
  padding: 0 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-right a{
  background-color: transparent;
  color: rgb(71, 67, 0);
  border: 1px solid;
  transition: all 150ms ease-in-out;
}

.contact-right a:hover{
  background-color: $green;
  color: rgb(255, 255, 255);
  border: none;
}

#dataButton{
  background-color: #47bdff;
  padding: 5px;
}